<div class="container">
  <div class="row">
    
    <div class="col-6">
        <div class="card">
           
                  <div class="card-body">
                    <h5 class="card-title">Add new</h5>
      <div class="card-text">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Title</span>
          </div>
          <input type="text" class="form-control" placeholder="Title" [(ngModel)]="job.Title">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Location</span>
            </div>
            <input type="text" class="form-control" placeholder="Location" [(ngModel)]="job.Location">
        </div>
             
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control"  [(ngModel)]="job.Description" rows="3"></textarea>
        </div>
      </div>
       
      </div>
    
      <div class="card-body">
        <h5 class="card-title">Or Upload CV</h5>
        <div class="card-text">
            <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile04">
                  <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">Upload</button>
                </div>
              </div>

        </div>
        <div class="clearfix"></div>
        <div class="mt-5">
          <button type="button" (click)="back()" class="btn btn-default">Back</button>
          <button type="button" *ngIf="job._id" (click)="delete()" class="btn btn-danger">Delete</button>
          <button type="button" (click)="save()" class="btn btn-success ">Save</button>
        </div>
      </div>
    </div>
      
    </div>
    <div class="col">
 
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-capitalize">{{ job.Title}}</h4>
            <h5 class="card-subtitle mb-2 text-muted text-capitalize">{{ job.Location}}</h5>
            <p class="card-text text-capitalize">{{ job.Description }}</p>
          </div>
        </div>
 
    </div>
  </div>
</div>